/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption p{
  font-size: larger;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  /*background-color: #777;*/

}
.carousel-inner > .item > img.first-slide { 
  top: 0;
  min-width: 1000px;
  width: 2000px;
}

.carousel-inner > .item > img.first-slide ~ div p,
.carousel-inner > .item > img.first-slide ~ div h1 {
  color: black;
  text-shadow: 0 1px 2px white;
}


.carousel-caption {
}

.carousel-inner > .item > img.second-slide ~ div p,
.carousel-inner > .item > img.second-slide ~ div h1 {
  color: black;
  text-shadow: 0 1px 2px white;
}
.carousel-inner > .item > img.second-slide {
  top: 0;
  min-width: 2000px;
  width: 2000px;
}

.carousel-inner > .item > img.third-slide ~ div p,
.carousel-inner > .item > img.third-slide ~ div h1 {
  color: #337ab7;
  text-shadow: 0 1px 2px white;
}

.carousel-inner > .item > img.third-slide {
  top: 0;
  width: 1000px;
}
/* original exemple
.carousel-inner > .item > img.third-slide {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}*/
.carousel-control.right, .carousel-control.left {
  background-image:none;
}

section#apropos a {
  color: white;
}

